# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite databases & backups
*.db
*.sqlite
*.sqlite3
*.bak

# Virtual environments
venv/
.env/
.envrc

# Logs & temp files
*.log
*.tmp
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS junk files
Thumbs.db

# VS Code workspace settings
.vscode/
*.code-workspace

# Build artifacts
dist/
build/
*.egg-info/
.DS_Store
