# Ignore SQLite DB and related files
*.db
*.db-journal
*.sqlite
*.sqlite3

# Ignore Python cache and venv folders
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore zipped or archive files
*.zip
*.tar.gz
*.7z
